body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: black;
  font-family: 'Courier New', Courier, monospace;
}

/* анимированный фон */
.box {
  position: fixed;
  inset: -50%;
  background: conic-gradient(
    rgba(255, 0, 0, 0.425),
    rgba(255, 166, 0, 0.445),
    rgba(255, 255, 0, 0.427),
    rgba(0, 255, 0, 0.432),
    rgba(0, 255, 255, 0.408),
    rgba(0, 0, 255, 0.412),
    rgba(255, 0, 255, 0.422),
    rgba(255, 0, 0, 0.437)
  );
  animation: move 10s linear infinite;
  filter: blur(120px);
  opacity: 0.8;
}

/* движение */
@keyframes move {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

.topLeft{
    width: 600px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.473);
   position: absolute;
   left: 40px;
   top: 40px;
   z-index: 10;
   border-radius: 15px;
   border: 2px solid black;
   display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.inp{
    width: 700px;
    position: absolute;
    left: 40px;
    top: 150px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.inp input{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin-top: 30px;
    padding-left: 20px;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.293);
    color: white;
}
.inp input::placeholder{
    color: white;
}

.result{
position: absolute;
right: 80px;
bottom: 30px;
width: 150px;
height: 40px;
border-radius: 15px;
cursor: pointer;
background-color: brown;
color: white;
letter-spacing: 2px;
font-size: 16px;

}


#payhours{
    position: absolute;
    left: 40px;
    bottom: 30px;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    padding-left: 10px;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.293);
    color: white;
}
#payhours::placeholder{
    color: white;
}

.resultblock{
    position: absolute;
    right: 80px;
    top: 80px;
    width: 500px;
    height: 540px;
    border-radius: 15px;
    border: 5px inset rgba(255, 255, 255, 0.492);
}
.rbtext{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.463);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rbtext p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}
.rbtext input{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
        background-color: rgba(255, 255, 255, 0.293);
        color: white;
        font-weight: bolder;
}

.hint{
    position: absolute;
    left: 420px;
    bottom: 25px;
    width: 200px;
    color: white;
    background-color: black;
    padding-left:20px ;
    border-radius: 10px;
}










